node_modules/
opt/openresty/
opt/php/
var/
*-e
tmp/
vendor/
Dockerfile
.git/
.idea/
.gitignore
supervisord.log
supervisord.pid
*error.log

bin/*
!bin/install.sh
!bin/run_tests.sh

etc/*.plist
etc/*.conf
etc/wp-authentication-keys.template.php

etc/init.d

etc/nginx/nginx.dist.conf
etc/nginx/nginx.conf
etc/nginx/*-e

etc/php/*

web/wp-content/plugins/*
!web/wp-content/plugins/akismet
!web/wp-content/plugins/hello.php
!web/wp-content/plugins/index.php

web/wp-content/themes/*
!web/wp-content/themes/twentyfifteen
!web/wp-content/themes/twentysixteen
!web/wp-content/themes/twentyseventeen
!web/wp-content/themes/index.php

web/wp-content/uploads
web/wp-authentication-keys.php


